.block {
  width: 80px;
  height: 80px;
  background: red;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  display: inline-block;
}

.block:hover {
  background: pink;
}

.logo {
  align-self: center;
  height: 50px;
}

.sns {
  height: 30px
}

.navbar-default {
  background-color: rgba(143, 28, 33, 1);
  height: 80px;
}

.navbar-brand {
  width: 100%;
  position: absolute;
  text-align: center;
}

.navbar-default .navbar-nav {
  margin-top: 15px;

}

.navbar-default .navbar-nav > .item > a {
  color: white;
  border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav > .item > a:hover,
.navbar-default .navbar-nav > .item > a:focus {
  color: white;
  border-bottom-color: rgba(255,255,255, 1);
}

.navbar-default .navbar-nav > .active > a
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  background: none;
  color: white;
  border-bottom-color: rgba(255,255,255, 1);
}