.block {
  width: 80px;
  height: 80px;
  background: red;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  display: inline-block;
}

.block:hover {
  background: pink;
}